.container{
    display: flex;
    flex-wrap: wrap;
    
}

.secondary-button {
    background-color: rgb(203, 242, 245);
    color: rgb(22, 141, 150);
    padding: 10px 25px;
    font-size: 15px;
    width: 300px;
    font-weight: bolder;
    border: 1px solid rgba(115, 32, 136, 0.2);
    border-bottom: 5px solid rgba(115, 32, 136, 0.2);
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
    border-radius: 16px;
    cursor: pointer;
}

.secondary-button:hover{
    background-color: rgb(178, 239, 243);
    border-color: rgb(22, 141, 150);
    font-size: 1.2em;
}
